body {
	background: #f4f4f4;
	font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
	color: #000;
}

header {
	text-align: center;
}

.item-title {
	h1 {
		font-weight: 300;
	}
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.section-left, .section-right {
	display: inline-block;
	vertical-align: top;
}

.fieldset-right {
	margin: 16px;
	border: 0;
	padding: 0;
}

.item {
	font-size: 12px;
}

.item-image {
	width: 500px;
	height: 500px;
	background: #fff;
	border: 1px solid #ddd;
}

.item-price {
	font-size: 32px;
	color: #900;
	.item-cents {
		vertical-align: top;
	}
}

.item-condition-content {
	width: 75px;
	display: inline-block;
	margin-bottom: 15px;
}
.more-products {
	width: 400px;
}
.item-buy-legend {
	display: block;
}




.tabs {
	margin: 15px auto;
	width: 1000px;
	.tab {
		font-size: 15px;
		padding: 5px;
		display: inline-block;
		border: 1px solid gray;
		border-bottom: 0;
		cursor: pointer;
		background: white;
		a {
			color: black;
			text-decoration: none;
		}

		&:hover {
			background: grey;
		}

		
	}

	#content-description:target, #content-questions:target {
		z-index: 2;
	}

	.content-tabs {
		background-color: white;
		border: 1px solid gray;
		position: relative;
	}

	#content-description {
		z-index: 1;
		position: absolute;
		background: white;
		font-size: 15px;
		height: 100%;
		width: 978px;
		p {
			padding: 10px;
		}
	}

	#content-questions {
		position: relative;
		background: white;
		height: 100%;
		width: 978px;
		font-size: 15px;
		.content-question {
			padding: 10px;
			.question-user {
				margin-bottom: 5px;
				
				.name {
					color: #045FB4;
				}

				.box {
					padding: 5px;
					color: #045FB4;
					background-color: #81BEF7;
				}
			}

			.answer-user {
				margin-bottom: 5px;
				.name {
					color: #298A08;
				}
				.box {
					padding: 5px;
					color: #298A08;
					background-color: #CEF6D8;
				}
			}
		}
	}
}

@media (max-width: 768px) { 

	.container {
	    width: 100%;
	}

	.item-title h1 {
		font-size: 25px;
    	line-height: 25px;
	}
	.item-image {
	    width: 100%;
    	height: auto;
    	img {
		    width: 100%;
	    	height: auto; 
    	}
	}

	fieldset {
		font-size: 20px;
	}

	.tabs {
		width: 100%;
		#content-description, #content-questions {
			width: 100%;
		}
	}

	.item-condition-content {
		width: 90px;
	}

	.more-products {
		width: 300px;
	}

	.ch-btn {
	    padding: 15px 10px;
	    width: 100%;
	    font-size: 32px;
	}
}